html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* html5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #fff;
}


/* Path: src\css\style.css */

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background-color: #111
}

::-webkit-scrollbar-thumb {
    background-color: #6dddff;
    border-radius: 8px
}

body {
    background-image: url(/frontend/assets/img/plateau.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Archivo";
    font-weight: 400;
    line-height: 1.5;
    color: #fefefe;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    font-size: 12px;
}


/* plato */

.plato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.resours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    gap: 10px;
    position: relative;
    top: -200px;
    right: 50px;

}

.resours span {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.resours span img {
    width: 50px;
    height: 50px;

}

.meteo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 170px;
    position: relative;
    top: -175px;
    left: 465px;
}

.meteo img{
    margin: 10px;
    border-radius: 5px;
    width: 150px;
}

.radeau {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    top: 135px;
    left: 70px;
}

.radeau img{
    margin: 10px;
    border-radius: 5px;
    width: 240px;
}

.carte {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);
}

.choice {
    display: flex; 
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    
}

.choice button {
    border: none;
    padding: 10px;
    background-image: url(/frontend/assets/img/planche-texte.png);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    background-position: center;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}

.choice button:hover { 

    transform: scale(1.1);
}

.card-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 10px;
}

.card {
    width: 100px;
    height: 150px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    flex-direction: column;
    background-image: url(/frontend/assets/img/fond-parchemin-sans-cotes.png);
    background-size:  100px 150px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 11px 6px 10px 4px rgba(0, 0, 0, 0.5);
}


.card:hover {
    transform: rotateY(0deg) translateZ(0) scale(1.2); /* Agrandir la carte lorsqu'elle est survolée */
}
