html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* html5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #fff;
}


/* Path: src\css\style.css */

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background-color: #111
}

::-webkit-scrollbar-thumb {
    background-color: #6dddff;
    border-radius: 8px
}

body {
    background-image: url(/src/assets/img/illustration-plateau2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "Archivo";
    font-weight: 400;
    line-height: 1.5;
    color: #fefefe;
    overflow-x: hidden;
}


main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Section principale */
.plato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/src/assets/img/plateau.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.resours {
    display: flex;
    position: relative;
    top: -180px;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.resours span {
    margin-right: 20px;
}

.resours img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.av {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meteo {
    position: relative;
    top: 20px;
    left: -177px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.meteo img {
    max-width: 135px;
    border-radius: 5px;
}

.radeau {
    position: relative;
    top: 65px;
    right: 100px;
}

.radeau img {
    max-width: 200px;
}

/* Section des messages en jeu */
.msgInGame {
    display: none;
    position: absolute;
    bottom: 150px;
    left: 25%;
    border: solid 10px #fff;
    padding: 20px;  
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.finDejours{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
}

.evenemnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
}


/* Section des choix */
.carte {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice {
    display: flex;
    gap: 20px;
}

.choice button {
    border: none;
    padding: 10px;
    background-image: url(/src/assets/img/planche-texte.png);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    background-position: center;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    gap: 20px;
    margin: 20px;
}

.choice button:hover { 
    transform: scale(1.1);
}

.card-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 10px;
}

.card {
    width: 100px;
    height: 150px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    flex-direction: column;
    background-image: url(/src/assets/img/fond-parchemin-sans-cotes.png);
    background-size:  100px 150px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 11px 6px 10px 4px rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: rotateY(0deg) translateZ(0) scale(1.2); /* Agrandir la carte lorsqu'elle est survolée */
}

.maxCard {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 350px;
    border-radius: 10px; 
    background-color: #111;
}

.maxCard img {
    width: 340px;
    height: 450px;
    border-radius: 10px;
}

.maxCard button {
    border: none;
    padding: 10px;
    background-image: url(/src/assets/img/planche-texte.png);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    background-position: center;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.maxCard button:hover { 
    transform: scale(1.1);
}

